<div class="private-square span4 offset2 text-center">
  <h1>
  
  Wonders of the Sea
    
  </h1>
  
  Share your experiences.
  
  <br/>


  <%= link_to 'Launch', posts_path, :class => 'btn btn-warning btn-large'  %>
</div>